<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Nuevo Avión</title>
    <link rel="stylesheet" href="css/nuevo.css">
</head>
<body>
<h1>Añadir Nuevo Avión</h1>
<form th:action="@{/nuevo}" method="post" enctype="multipart/form-data">
    <label for="nombre">Nombre del Avión:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br><br>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea>
    <br><br>

    <label for="imagen">Imagen del Avión:</label>
    <input type="file" id="imagen" name="imagen" accept="image/*" required>
    <br><br>

    <button type="submit">Añadir Avión</button>
</form>
</body>
</html>


